[submodule "FontAwesome"]
	path = FontAwesome
	url = https://github.com/GedMarc/JWebMP-FontAwesome5Plugin.git
	ignore=dirty
[submodule "MaterialDesignIcons"]
	path = MaterialDesignIcons
	url = https://github.com/GedMarc/JWebMP-MaterialDesignIconsPlugin.git
	ignore=dirty
[submodule "MaterialIcons"]
	path = MaterialIcons
	url = https://github.com/GedMarc/JWebMP-MaterialIconsPlugin.git
	ignore=dirty
[submodule "ThemifyIcons"]
	path = ThemifyIcons
	url = https://github.com/GedMarc/JWebMP-Themify-Icons.git
	ignore=dirty
[submodule "WeatherIcons"]
	path = WeatherIcons
	url = https://github.com/GedMarc/JWebMP-WeatherIcons.git
	ignore=dirty
[submodule "Skycons"]
	path = Skycons
	url = https://github.com/GedMarc/JWebMP-Skycons.git
	ignore=dirty
[submodule "Glyphicons"]
	path = Glyphicons
	url = https://github.com/GedMarc/JWebMP-GlyphiconsPlugin.git
	ignore=dirty
[submodule "FontAwesome5Pro"]
	path = FontAwesome5Pro
	url = https://github.com/GedMarc/JWebMP-FontAwesome5Pro.git
